/* Add mobile styles for the component here.  */
Page {
  background-color: #252a2e;
  text-align: center;
  padding: 20;
  android-status-bar-background:  #252a2e;
}

ActionBar {
  background-color: #252a2e;
  flat: true

}

.title {
  font-size: 18;
  margin-top: 70;
  color: #aaa;
  font-weight: bold;
}

.course-name {
  font-size: 21;
  margin-top: 10;
  color: #e7e7e7;
  font-weight: 900;
  text-wrap: true;
}

.description {
  color: #aaa;
  font-size: 18;
  margin-top: 30;
  text-wrap: true;
}

Button {
  margin-top: 70;
  background-color: #ff5576;
  border-radius: 10;
  color: #fff;
  font-weight: 900;
}